<div id="mobile-about">
    <img id="coffee-mobile" src="assets/img/coffee5.jpg" alt="coffee-mobile">
</div>
<div id="window-about">
    <img id="coffee-window" src="assets/img/coffee4.jpg" alt="coffee-window">
</div>
<div class="title-about headline">
    <h1 class="title-about animate__animated animate__fadeOut">{{title}}</h1>
</div>
<div class="headcontent">
    <h2 class="animate__animated animate__fadeInLeft">{{aboutme}}</h2>
</div>
<div id="stack1" class="bxslider">
    <div><img src="assets/img/angular2.png" alt="angular"></div>
    <div><img src="assets/img/nodejs2.jpg" alt="nodejs"></div>
    <div><img src="assets/img/express2.jpg" alt="express"></div>
    <div><img src="assets/img/mongodb2.jpg" alt="mongodb"></div>
    <div><img src="assets/img/MEAN2.jpg" alt="mean"></div>
    <div><img src="assets/img/apirest2.jpg" alt="apirest"></div>
    <div><img src="assets/img/typescript2.jpg" alt="typescript"></div>
    <div><img src="assets/img/javascript2.jpg" alt="javascript"></div>
    <div><img src="assets/img/jquery2.1.jpg" alt="jquery"></div>
    <div><img src="assets/img/bootstrap2.jpg" alt="bootstrap"></div>
    <div><img src="assets/img/python2.jpg" alt="python"></div>
    <div><img src="assets/img/github2.jpg" alt="github"></div>
</div>
<div id="stack2" class="bxslider">
    <div><img src="assets/img/angular.jpg" alt="angular"></div>
    <div><img src="assets/img/nodejs.jpg" alt="nodejs"></div>
    <div><img src="assets/img/express.jpg" alt="express"></div>
    <div><img src="assets/img/mongodb.jpg" alt="mongodb"></div>
    <div><img src="assets/img/MEAN.jpg" alt="mean"></div>
    <div><img src="assets/img/apirest0.jpg" alt="apirest"></div>
    <div><img src="assets/img/typescript.jpg" alt="typescript"></div>
    <div><img src="assets/img/javascript.jpeg" alt="javascript"></div>
    <div><img src="assets/img/jquery.jpg" alt="jquery"></div>
    <div><img src="assets/img/bootstrap.jpg" alt="bootstrap"></div>
    <div><img src="assets/img/python.jpg" alt="python"></div>
    <div><img src="assets/img/github.jpg" alt="github"></div>
</div>
<div class="headcontent">
    <h3 class="animate__animated animate__fadeIn">{{skills}}</h3>
    <p>
        <li id="l1" class="animate__animated animate__lightSpeedInLeft">Desarrollo front-end con Angular.</li>
        <li id="l2" class="animate__animated animate__lightSpeedInLeft">Desarrollo back-end con ExpressJS.</li>
        <li id="l3" class="animate__animated animate__lightSpeedInLeft">Maquetado web y frameworks CSS.</li>
        <li id="l4" class="animate__animated animate__lightSpeedInLeft">Servicios API REST con Nodejs.</li>
    </p>
    <h3 id="skillspec" class="animate__animated animate__flipInX">Poseo una visión analítica y creativa en el <span class="animate__animated animate__fadeIn">desarrollo</span> a distintas escalas con un enfoque <span class="animate__animated animate__fadeIn">organizado</span>, tambien en los análisis de requerimientos necesarios para llevar a la realidad las ideas de manera <span class="animate__animated animate__fadeIn">eficiente.</span></h3>
</div>
<div class="bxslider">
    <div><img src="assets/img/think.jpg" alt="think"></div>
    <div><img src="assets/img/coding.jpg" alt="coding"></div>
    <div><img src="assets/img/ecotech.jpg" alt="ecotech"></div>
</div>
<div class="text">
    <p>{{question}}</p>
    <p>
        <span class="word bamboo">ecommerce</span>
        <span class="word promenade">industria</span>
        <span class="word deepblue">negocios</span>
        <span class="word candycolor">foros</span>
        <span class="word redstorm">educación</span>
        <span class="word promenade">servicios</span>
    </p>
</div>
